<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.dao.TicketDao">
    <update id="edit">
        UPDATE sys_ticket set type = #{type}, seat = #{seat}, PID = #{PID}, cost = #{cost} where id = #{id}
    </update>
    <delete id="deleteAllTicket">
        DELETE FROM sys_ticket
    </delete>
    <delete id="deleteById">
        DELETE FROM sys_ticket WHERE id = #{id}
    </delete>
    <select id="GetSumOfCost" resultType="java.lang.Integer">
        SELECT sum(cost) FROM sys_ticket
    </select>
    <select id="findAdd" resultType="com.example.springboot.entity.Ticket">
        SELECT * FROM sys_ticket
    </select>
</mapper>